


pre { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}

.content {
    width: 93.75%;
    margin:auto;
}

@media screen and (min-width: 1024px) {      
    .content {
        width:1000px;
    }
}
@media screen and (max-width: 480px) { 
  body {
      font-size:12px;
  }
}